@model  Greenmaster_ASP.Models.ViewModels.GardenStyleViewModel

@{
    ViewBag.Title = "Create garden style";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>Garden style</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="GardenStyle" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concepts" class="control-label"></label>
                <select asp-for="Concepts" class="form-control" asp-items="ViewBag.Concepts" multiple></select>
                <span asp-validation-for="Concepts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colors" class="control-label"></label>
                <select asp-for="Colors" class="form-control" asp-items="ViewBag.Colors" multiple></select>
                <span asp-validation-for="Colors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shapes" class="control-label"></label>
                <select asp-for="Shapes" class="form-control" asp-items="ViewBag.Shapes" multiple></select>
                <span asp-validation-for="Shapes" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="RequiresLargeGarden" class="control-label"></label>
                <input type="checkbox" asp-for="RequiresLargeGarden" class="form-check-inline"/>
                <span asp-validation-for="RequiresLargeGarden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathSize" class="control-label"></label>
                <select asp-for="PathSize" class="form-control" asp-items="ViewBag.Sizes"></select>
                <span asp-validation-for="PathSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materials" class="control-label"></label>
                <select asp-for="Materials" class="form-control" asp-items="ViewBag.MaterialTypes" multiple></select>
                <span asp-validation-for="Materials" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="GardenStyle" asp-action="Index">Back to List</a>
</div>
