@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span style="color: green; font-weight: bold">Green</span>master</h1>
    <h4 class="fst-italic">Garden design software</h4>
    <br/>
    <img class="img-fluid" src="media/img/POC/GreenMaster_UI.png" alt="Garden design">
    <br/>
    <h2>Low cost, high value</h2>
</div>