@model Greenmaster.Core.Models.ViewModels.SpecieViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Specie</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="PlantType" class="control-label"></label>
                <select asp-for="PlantType" class="form-control" asp-items="ViewBag.PlantType"></select>
                <span asp-validation-for="PlantType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genus" class="control-label"></label>
                <input asp-for="Genus" class="form-control"/>
                <span asp-validation-for="Genus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species" class="control-label"></label>
                <input asp-for="Species" class="form-control"/>
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cultivar" class="control-label"></label>
                <input asp-for="Cultivar" class="form-control"/>
                <span asp-validation-for="Cultivar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonNames" class="control-label"></label>
                <input asp-for="CommonNames" class="form-control"/>
                <span asp-validation-for="CommonNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lifecycle" class="control-label"></label>
                <select asp-for="Lifecycle" class="form-control" asp-items="ViewBag.LifeCycle"></select>
                <span asp-validation-for="Lifecycle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shape" class="control-label"></label>
                <select asp-for="Shape" class="form-control" asp-items="ViewBag.Shape"></select>
                <span asp-validation-for="Shape" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sunlight" class="control-label"></label>
                <select asp-for="Sunlight" class="form-control" asp-items="ViewBag.Amount"></select>
                <span asp-validation-for="Sunlight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Water" class="control-label"></label>
                <select asp-for="Water" class="form-control" asp-items="ViewBag.Amount"></select>
                <span asp-validation-for="Water" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Climate" class="control-label"></label>
                <select asp-for="Climate" class="form-control" asp-items="ViewBag.ClimateType"></select>
                <span asp-validation-for="Climate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimalTemperature" class="control-label"></label>
                <input type="number" asp-for="MinimalTemperature" class="form-control"/>
                <span asp-validation-for="MinimalTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPoisonous" class="control-label"></label>
                <input type="checkbox" asp-for="IsPoisonous" class="form-check-inline"/>
                <span asp-validation-for="IsPoisonous" class="text-danger"></span>
            </div>
            <h5>Blooming</h5>
            <div class="form-group">
                <label asp-for="BloomPeriod" class="control-label"></label>
                <select asp-for="BloomPeriod" class="form-control" asp-items="ViewBag.Month" multiple></select>
                <span asp-validation-for="BloomPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowerColors" class="control-label"></label>
                <select asp-for="FlowerColors" class="form-control" asp-items="ViewBag.Color" multiple></select>
                <span asp-validation-for="FlowerColors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFragrant" class="control-label"></label>
                <input type="checkbox" asp-for="IsFragrant" class="form-check-inline"/>
                <span asp-validation-for="IsFragrant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttractsPollinators" class="control-label"></label>
                <input type="checkbox" asp-for="AttractsPollinators" class="form-check-inline"/>
                <span asp-validation-for="AttractsPollinators" class="text-danger"></span>
            </div>
            <h5>Dimensions</h5>
            <div class="form-group">
                <label asp-for="MaxHeight" class="control-label"></label>
                <input asp-for="MaxHeight" class="form-control" type="double"/>
                <span asp-validation-for="MaxHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxWidth" class="control-label"></label>
                <input asp-for="MaxWidth" class="form-control" type="double"/>
                <span asp-validation-for="MaxWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>