@model Greenmaster_ASP.Models.ViewModels.RenderingViewModel

@{
    ViewBag.Title = "Renderings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Renderings</h1>

<p>
    <a asp-controller="Rendering" asp-action="Create">Add new rendering</a>
</p>